.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row on desktop */
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .cards > ul {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on tablets */
  }
}

@media (max-width: 600px) {
  .cards > ul {
    grid-template-columns: 1fr; /* 1 card per row on mobile */
  }
}
